{% extends "layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{ path('profile.validFormPassword') }}">
        <div class="row">
            <fieldset>
                <legend>Modifier le mot de passe</legend>
                <label>Mot de passe :
                    <input name="motdepasse"  type="text"  size="18" value="{{user.motdepasse}}" />
                    {% if erreurs.motdepasse is defined %}
                        <small class="error">{{erreurs.motdepasse}}</small>
                    {% endif %}
                </label>
                <input type="hidden" id="id" name="id" value="{{ user.id }}">
                <input type="hidden" id="_method" name="_method" value="put" />
                <input type="submit" name="modifierProfile" value="Modifier" />
            </fieldset>
        </div>
    </form>
{% endblock %}
